body {
    font-family: 'Roboto Slab', sans-serif;
    color: #848484;
}

section h2 {
    font-size: 1.5em;
    color: #222;
}

section h3 {
    font-size: 1.3em;
    color: #222;
}

.section__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

/*Header Styles*/

.green__line {
    height: 10px;
    background-color: #2ecc71;
}

.main__header {
    height: 600px;
    background-image: url(../img/background-new.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.main__header h1 {
    margin-bottom: 40px;
    font-family: 'Pacifico', sans-serif;
    font-size: 4em;
}

.main__header span {
    color: #2ecc71;
}

.main__header p {
    font-size: 1.4em
}

.wrapper__icons .fab {
    text-align: center;
    font-size: 2em;
    height: 50px;
    width: 50px;
    line-height: 50px;
    background-color: #626567;
    border-radius: 50%;
    color: #dbdee0;
    transition: all 0.5s;
    margin-bottom: 10px;

}

.fab:hover {
    cursor: pointer;
    background-color: #2ecc71;
}

/*Features Styles*/

.features__img {
    height: 100px;
    width: 100px;
    line-height: 100px;
    background-color: #2ecc71;
    border-radius: 50%;
}

/*Notified styles*/

.notified {
    background-color: #e3e3e3;
}

.notified__form--input {
    border: 1px solid #2ecc71;
}

.form__button {
    box-sizing: border-box;
    width: 100px;
    background-color: #2ecc71;
    border: 1px solid #2ecc71;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    transition: all 0.5s;
}

.form__button:hover {
    color: #2ecc71;
    background-color: #fff;
    border: 1px solid #fff;
}

/*Testimonial styles*/

.testimonial q {
    font-style: italic;
}

.testimonial__socialmedia .fab {
    height: 35px;
    width: 35px;
    line-height: 35px;
    background-color: #d4d4d4;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s;
    margin-bottom: 10px
}

.fab:hover {
    background-color: #2ecc71;
}

/*Footer styles*/

.main__footer {
    background-color: #e3e3e3;
}

.footer__content {
    font-size: 0.8em;
}

.footer__content a {
    text-decoration: none;
    color: #626567;
}

.footer__content a:hover {
    color: #2ecc71;
}
